---
import { Icon } from 'astro-icon'

const { projects } = Astro.props
---

{
    projects.docs.map((project) => (
        <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
            <div class="p-5">
                <div class="">
                    <div class="flex items-center mb-4 pr-4">
                        <Icon
                            pack="logos"
                            name={project.data().topics[0]}
                            class="w-7 h-7"
                        />
                        <a href={project.data().url}>
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                {project.data().name}
                            </h5>
                        </a>
                    </div>

                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        {project.data().description}
                    </p>
                </div>
                <div class="flex justify-end items-end px-4">
                    <div class="flex items-center space-x-2">
                        <a href={project.data().homepageUrl}>
                            <Icon name="iconoir:www" class="w-7 h-7" />
                        </a>
                        <a href={project.data().url}>
                            <Icon
                                pack="akar-icons"
                                name="github-outline-fill"
                                class="w-7 h-7"
                            />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    ))
}
