---
import { app } from '../../core/firebaseInit'
import { Icon } from 'astro-icon'
import moment from 'moment'
import {
    getFirestore,
    collection,
    query,
    orderBy,
    limit,
    getDocs,
} from 'firebase/firestore'

const db = getFirestore(app)

const q = query(
    collection(db, 'projects'),
    orderBy('updatedAt', 'desc'),
    limit(4)
)

const projects = await getDocs(q)
---

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
            <h2
                class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
            >
                Latest Projects
            </h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
                We use an agile approach to test assumptions and connect with
                the needs of your audience early and often.
            </p>
        </div>
        <div class="grid gap-8 lg:grid-cols-2">
            {
                projects.docs.map((project) => (
                    <article class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                        <div class="flex justify-between items-center mb-5 text-gray-500">
                            <span class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
                                {project.data().topics.map((topic: string) => {
                                    ;<Icon
                                        pack="logos"
                                        name={topic}
                                        class="w-12 h-12"
                                    />
                                })}
                            </span>
                            <span class="text-sm">
                                {moment(project.data().updatedAt).fromNow()}
                            </span>
                        </div>
                        <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            <a href={project.data().url}>
                                {project.data().name}
                            </a>
                        </h2>
                        <p class="mb-5 font-light text-gray-500 dark:text-gray-400">
                            {project.data().description}
                        </p>
                        
                        <div class="flex justify-end items-end px-4">
                            <div class="flex items-center space-x-2">
                                <a href={project.data().homepageUrl}>
                                    <Icon name="iconoir:www" class="w-7 h-7" />
                                </a>
                                <a href={project.data().url}>
                                    <Icon
                                        pack="akar-icons"
                                        name="github-outline-fill"
                                        class="w-7 h-7"
                                    />
                                </a>
                            </div>
                        </div>
                    </article>
                ))
            }
        </div>
    </div>
</section>
