---
import BasicScripts from '../components/core/BasicScripts.astro'
import Header from '../components/widgets/Header.astro'
import Footer from '../components/widgets/Footer.astro'
import '../assets/styles/base.css'

export interface Props {
    title?: string
}

const { title } = Astro.props as Props
---

<!DOCTYPE html>
<html lang="en" class="motion-safe:scroll-smooth 2xl:text-[24px]">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <!-- Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />

        <!-- Google / Search Engine Tags
    <meta itemprop="name" content={title} />
    <meta itemprop="description" content={description} />
    {image &&
    <meta itemprop="image" content={image} />}
    
    <!-- Facebook Meta Tags 
    {canonical &&
    <meta property="og:url" content={canonical} />}
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    {image &&
    <meta property="og:image" content={image} />}
    
    <!-- Twitter Meta Tags 
    {canonical &&
    <meta name="twitter:url" content={canonical} />}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    {image &&
    <meta name="twitter:image" content={image} />} -->

        <!-- Google Site Verification 
    {SITE.googleSiteVerificationId &&
    <meta name="google-site-verification" content={SITE.googleSiteVerificationId} />}-->

        <title>Gustavo Cabezal - Portfolio {title}</title>
    </head>

    <body
        class="antialiased text-gray-900 dark:text-slate-300 tracking-tight bg-white dark:bg-slate-900"
    >
        <Header />
        <slot />
        <BasicScripts />
        <Footer />
    </body>
</html>
